{% extends "base.html.twig" %}

{% block title %}Dokumentation | 21{% endblock %}

{% block body %}
<h1>Dokumentation för 21</h1>
{{ block("game_links", "game/game-links.html.twig") }}

<p></p>

{% endblock %}
