{% block game_links %}
<nav>
    <ul>
        <h4>Länkar för kortspelet 21</h4>
        <li><a href="{{ path('game_home') }}">Hem</a></li>
        <li><a href="{{ path('game_doc') }}">Dokumentation</a></li>
    </ul>
</nav>
{% endblock %}
