{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om kursen mvc</h1>
    <div class="row">
        <div class="column left">
            <p>Kursen kallas mvc men heter egentligen "objektorienterade webbteknologier". Den handlar om objektorienterade programmering i PHP för att skapa hemsidor. I kursen används flera ramverk och tekniker, bland annat Symfony som används för webbapplikationer. Kursen går även igenom enhetstestning.</p>
        </div>
        <div class="column right">
            <a href="https://github.com/dbwebb-se/mvc">Kursens repo på GitHub</a>
            <a href="https://github.com/Bruffe/mvc-repo">Mitt kursrepo på GitHub</a>
        </div>
    </div>
{% endblock %}
