{% extends "base.html.twig" %}

{% block title %}Hem | Bibliotek{% endblock %}

{% block body %}
{{ block("liblinks", "library/lib-links.html.twig") }}
<h1>Gabriel's bibliotek</h1>

<p>Välkommen till mitt bibliotek.</p>

{% endblock %}
