{% extends "project/project-base.html.twig" %}

{% block title %}Om projektet{% endblock %}

{% block body %}
    <div>
        <h1>Om projektet</h1>
        <p>Detta projekt sista delen av mvc-kursen. Mitt projekt handlar om Blackjack.<p>
    </div>

{% endblock %}